div {
  width: 100px;
  height: 100px;
  background-color: yellowgreen;
  border: 1px solid black;
  position: relative;
  animation: example 4s linear 2s infinite alternate;
}

.div-1 { animation-timing-function: linear; }
.div-2 { animation-timing-function: ease; }
.div-3 { animation-timing-function: ease-in; }
.div-4 { animation-timing-function: ease-out; }
.div-5 { animation-timing-function: ease-in-out; }

@keyframes example {
  0% { background-color: yellowgreen; left: 0;}
  100% { background-color: yellowgreen; left: 300px;}
}

/* @keyframes example {
  0% { background-color: yellowgreen; left: 0; top: 0}
  50% { background-color: red; left: 200px; top: 0; }
  70% { background-color: blue; left: 200px; top: 200px; }
  75% { background-color: green; left: 0; top: 200px;}
  100% { background-color: yellow; left: 0; top: 0; }
} */